<ng-sidebar-container>
  <!--Sidebar-->
  <ng-sidebar  [opened]="opened">
    <button class="sidebar-button" (click)="toggleSidebar()" >X</button>
    <ul class="menu">
      <li><a routerLink="/home" (click)="toggleSidebar()">HOME</a></li>
      <li><a routerLink="/accessories" (click)="toggleSidebar()">ACCESSORIES</a></li>
      <li><a routerLink="/lookbook" (click)="toggleSidebar()">LOOKBOOK</a></li>
      <li><a routerLink="/blog" (click)="toggleSidebar()">BLOG</a></li>
      <li><a routerLink="/pages" (click)="toggleSidebar()">PAGES</a></li>
      <li><a routerLink="/about-us" (click)="toggleSidebar()">ABOUT US</a></li>
      <li><a routerLink="/contact" (click)="toggleSidebar()">CONTACT</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!--Page Contents-->
    <button class="burger-button" (click)="toggleSidebar()">
      &#9776;
    </button>
  </div>

</ng-sidebar-container>
